{% extends 'header-footer.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
       
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">    

    <!-- Css Styles -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> -->

    <style>
        .form-gap {
    padding-top: 70px;
}
    </style>
</head>

<body>
    
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa-solid fa-key fa-shake fa-4x"></i></h3>
                            <h2 class="text-center">Change Password</h2>
                            <p></p>
                            <div class="panel-body">
                                <!-- msg element -->
                                {% if succ_msg %}
                                    <div class="alert alert-success d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                            <use xlink:href="#check-circle-fill" />
                                        </svg>
                                        <div>
                                            <h5>{{succ_msg}}</h5>
                                        </div>
                                    </div>
                                {% elif err_msg %}
                                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                            <use xlink:href="#exclamation-triangle-fill" />
                                        </svg>
                                        <div>
                                            <h5>{{err_msg}}</h5>
                                        </div>
                                    </div>
                                {% elif info_msg %}
                                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                                        <div>
                                            <h5>{{info_msg}}</h5>
                                        </div>
                                    </div>    
                                {% endif %}
                                <!-- form  -->
                                <form id="register-form" role="form" autocomplete="off" class="form" method="post" action="{% url 'change-password' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <!-- span Tag For Msg  -->
                                        <span id="oldpassword_error" ></span>
                                        <!--  ***************** -->
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-edit color-blue fa-s"></i></span>
                                            <input name="oldpassword"  id="oldpassword"  placeholder="Old Password" class="form-control" type="password">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-edit color-blue fa-s"></i></span>
                                            <input name="newpassword" id="newpassword" placeholder="Password" class="form-control" type="password">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-edit color-blue fa-s"></i></span>
                                            <input type="password" id="cnewpassword"  name="cnewpassword" class="form-control" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="submit" class="btn btn-lg btn-primary btn-block"
                                            value="Change Password" type="submit">
                                    </div>

                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                </form>
                                <!-- form end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#oldpassword").change(function(){
            var oldpassword=$(this).val();
    
            $.ajax({
                url: '/ajax/validate_oldpassword/',
                data: {
                    'oldpassword': oldpassword
                },
                dataType: 'json',
                success: function (data){
                    if (!data.is_taken){
                        /*document.getElementById('email').style.border="5px solid red";*/
                        document.getElementById("oldpassword_error").innerHTML="Password Does Not Match"
                    }else{
                        document.getElementById("oldpassword_error").innerHTML="";
    
                    }
                }
            });
        });
    <!-- Script 2 -->
    $("#oldpassword").change(function(){
            var oldpassword=$(this).val();
    
            $.ajax({
                url: '/ajax/validate_oldpassword/',
                data: {
                    'oldpassword': oldpassword
                },
                dataType: 'json',
                success: function (data){
                    if (!data.is_taken){
                        /*document.getElementById('email').style.border="5px solid red";*/
                        document.getElementById("oldpassword_error").innerHTML="Password Does Not Match"
                    }else{
                        document.getElementById("oldpassword_error").innerHTML="";
    
                    }
                }
            });
        });
    </script>
</body>

</html>

{% endblock %}