{% extends 'header-footer.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

    <!-- Message Container-->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    <!-- End Message Container-->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-blog set-bg" data-setbg="{% static 'img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad" style="background-color: rgb(178, 172, 163);" >
        <!-- style="background-image: url(https://images.pexels.com/photos/17747953/pexels-photo-17747953/free-photo-of-sunset-sun-technology-power.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);" -->
        <div class="container" >
            <!-- <div class="row" > -->
            <center>
                <h2 style="font-weight: bolder;padding-bottom: 40px;">Edit Profile</h2>
                <div class="col-lg-6 col-md-6" >
                    <div class="contact__form" >
                        {% if succ_msg %}
                            <div class="alert alert-success d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                    <use xlink:href="#check-circle-fill" />
                                </svg>
                                <div>
                                    <h5>{{succ_msg}}</h5>
                                </div>
                            </div> 
                        {% elif err_msg %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                    <use xlink:href="#exclamation-triangle-fill" />
                                </svg>
                                <div>
                                    <h5>{{err_msg}}</h5>
                                </div>
                            </div>
                        {% elif info_msg %}
                            <div class="alert alert-primary d-flex align-items-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                                <div>
                                    <h5>{{info_msg}}</h5>
                                </div>
                            </div>    
                        {% endif %}
                        <form action="{% url 'edit-profile' %}" method="post" name="signup-form"
                            enctype="multipart/form-data" style="display: flex;">
                            {% csrf_token %}
                            <div class="col-lg-8">
                                <label for="fname">First Name </label>
                                <input type="text" name="fname" value="{{user.fname}}" placeholder="First Name" >
                            
                                <label for="lname">Last Name </label>
                                <input type="text" name="lname" value="{{user.lname}}" placeholder="Last Name">
                            
                                <label for="email">Email</label>
                                <input type="email" name="email" value="{{user.email}}" placeholder="Email" readonly>
                            </div>
                            
                            <div class="col-lg-8">
                                <label for="address">Address</label>
                                <textarea name="address" placeholder="Address">{{user.address}}</textarea>
                                   
                                <label for="mobile">Mobile</label>    
                                <input type="text" name="mobile" value="{{user.mobile}}" placeholder="Mobile Number">
                                <!-- <div class="col-lg-8">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="col-lg-8">
                                    <input type="password" name="cpassword" placeholder="Confirm Password">
                                </div> -->
                                <!-- button -->
                                <button type="submit" class="site-btn">Update Profile</button>
                            </div>

                        </form>
                    </div>
                </div>
            </center>
            <!-- </div> -->
        </div>
    </section>
    <!-- Contact Section End -->



    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

{% endblock %}